%h3 Укажите свое значение
= form_with scope: :rate, local: true do |form|
  - if @rate.errors.any?
    %h2 #{pluralize(@rate.errors.count, 'error')} prohibited this rate from being saved:
    %ul
      - @rate.errors.full_messages.each do |message|
        %li= message

  = form.hidden_field :forced, value: true
  .form-group
    = form.label :value
    = form.number_field :value, value: @rates.first&.value, step: :any, class: 'form-control'
  .form-group
    = form.label :end_date
    = form.datetime_select :end_date, class: 'form-control'
  .form-group
    = form.submit 'Сохранить', class: 'btn btn-primary'

%h3 Ранее введенные значения
%table.table
  %thead.thead-dark
    %tr
      %th Значение
      %th Время действия
  %tbody
    - @rates.each do |rate|
      %tr
        %th= rate.value
        %td= rate.end_date.strftime("%d.%m.%Y, %T")