= form_with scope: :rate, local: true do |form|
  = form.hidden_field :forced, value: true
  = form.label :value
  = form.number_field :value, step: :any
  = form.label :end_date
  = form.datetime_local_field :end_date
  = form.submit 'Сохранить'